html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: monospace, Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.shadow-eff {
  box-shadow: 0.625rem 0.625rem 0 rgba(77,77,77,0.1);
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  font-family: 'Open Sans';
  background-color: #e6e6e6;
  color: #4d4d4d;
}
::selection {
  background-color: #f942a8;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background-color: #f942a8;
  color: #fff;
  text-shadow: none;
}
.bold-g,
.b-g {
  font-weight: bold;
}
.op-0-g {
  opacity: 0;
}
.op-5-g {
  opacity: 0.5;
}
.float-left-g,
.f-l-g {
  float: left;
}
.float-right-g,
.f-r-g {
  float: right;
}
.h-g {
  display: none;
}
.h-g-i {
  display: none !important;
}
.hl-g {
  outline: 1px solid #d9d9d9;
}
.cf,
clearfix {
  zoom: 1;
}
.cf:after,
clearfix:after,
.cf:before,
clearfix:before {
  content: '';
  display: table;
}
.cf:after,
clearfix:after {
  clear: both;
}
.width-x1-g,
.w-x1-g {
  width: 0.625rem;
}
.width-x2-g,
.w-x2-g {
  width: 1.25rem;
}
.width-x3-g,
.w-x3-g {
  width: 1.875rem;
}
.width-x4-g,
.w-x4-g {
  width: 2.5rem;
}
.width-x5-g,
.w-x5-g {
  width: 3.125rem;
}
.width-x6-g,
.w-x6-g {
  width: 3.75rem;
}
.width-x7-g,
.w-x7-g {
  width: 4.375rem;
}
.width-x8-g,
.w-x8-g {
  width: 5rem;
}
.width-x9-g,
.w-x9-g {
  width: 5.625rem;
}
.width-x10-g,
.w-x10-g {
  width: 6.25rem;
}
.width-x11-g,
.w-x11-g {
  width: 6.875rem;
}
.width-x12-g,
.w-x12-g {
  width: 7.5rem;
}
.width-x13-g,
.w-x13-g {
  width: 8.125rem;
}
.width-x14-g,
.w-x14-g {
  width: 8.75rem;
}
.width-x15-g,
.w-x15-g {
  width: 9.375rem;
}
.width-x16-g,
.w-x16-g {
  width: 10rem;
}
.width-x17-g,
.w-x17-g {
  width: 10.625rem;
}
.width-x18-g,
.w-x18-g {
  width: 11.25rem;
}
.width-x19-g,
.w-x19-g {
  width: 11.875rem;
}
.width-x20-g,
.w-x20-g {
  width: 12.5rem;
}
.height-x1-g,
.h-x1-g {
  height: 0.625rem;
}
.height-x2-g,
.h-x2-g {
  height: 1.25rem;
}
.height-x3-g,
.h-x3-g {
  height: 1.875rem;
}
.height-x4-g,
.h-x4-g {
  height: 2.5rem;
}
.height-x5-g,
.h-x5-g {
  height: 3.125rem;
}
.height-x6-g,
.h-x6-g {
  height: 3.75rem;
}
.height-x7-g,
.h-x7-g {
  height: 4.375rem;
}
.height-x8-g,
.h-x8-g {
  height: 5rem;
}
.height-x9-g,
.h-x9-g {
  height: 5.625rem;
}
.height-x10-g,
.h-x10-g {
  height: 6.25rem;
}
.height-x11-g,
.h-x11-g {
  height: 6.875rem;
}
.height-x12-g,
.h-x12-g {
  height: 7.5rem;
}
.height-x13-g,
.h-x13-g {
  height: 8.125rem;
}
.height-x14-g,
.h-x14-g {
  height: 8.75rem;
}
.height-x15-g,
.h-x15-g {
  height: 9.375rem;
}
.height-x16-g,
.h-x16-g {
  height: 10rem;
}
.height-x17-g,
.h-x17-g {
  height: 10.625rem;
}
.height-x18-g,
.h-x18-g {
  height: 11.25rem;
}
.height-x19-g,
.h-x19-g {
  height: 11.875rem;
}
.height-x20-g,
.h-x20-g {
  height: 12.5rem;
}
.margin-left-x1-g,
.m-l-x1-g {
  margin-left: 0.625rem;
}
.margin-right-x1-g,
.m-r-x1-g {
  margin-right: 0.625rem;
}
.margin-top-x1-g,
.m-t-x1-g {
  margin-top: 0.625rem;
}
.margin-bottom-x1-g,
.m-b-x1-g {
  margin-bottom: 0.625rem;
}
.margin-x1-g,
.m-x1-g {
  margin: 0.625rem;
}
.margin-left-x2-g,
.m-l-x2-g {
  margin-left: 1.25rem;
}
.margin-right-x2-g,
.m-r-x2-g {
  margin-right: 1.25rem;
}
.margin-top-x2-g,
.m-t-x2-g {
  margin-top: 1.25rem;
}
.margin-bottom-x2-g,
.m-b-x2-g {
  margin-bottom: 1.25rem;
}
.margin-x2-g,
.m-x2-g {
  margin: 1.25rem;
}
.margin-left-x3-g,
.m-l-x3-g {
  margin-left: 1.875rem;
}
.margin-right-x3-g,
.m-r-x3-g {
  margin-right: 1.875rem;
}
.margin-top-x3-g,
.m-t-x3-g {
  margin-top: 1.875rem;
}
.margin-bottom-x3-g,
.m-b-x3-g {
  margin-bottom: 1.875rem;
}
.margin-x3-g,
.m-x3-g {
  margin: 1.875rem;
}
.margin-left-x4-g,
.m-l-x4-g {
  margin-left: 2.5rem;
}
.margin-right-x4-g,
.m-r-x4-g {
  margin-right: 2.5rem;
}
.margin-top-x4-g,
.m-t-x4-g {
  margin-top: 2.5rem;
}
.margin-bottom-x4-g,
.m-b-x4-g {
  margin-bottom: 2.5rem;
}
.margin-x4-g,
.m-x4-g {
  margin: 2.5rem;
}
.margin-left-x5-g,
.m-l-x5-g {
  margin-left: 3.125rem;
}
.margin-right-x5-g,
.m-r-x5-g {
  margin-right: 3.125rem;
}
.margin-top-x5-g,
.m-t-x5-g {
  margin-top: 3.125rem;
}
.margin-bottom-x5-g,
.m-b-x5-g {
  margin-bottom: 3.125rem;
}
.margin-x5-g,
.m-x5-g {
  margin: 3.125rem;
}
.margin-left-x6-g,
.m-l-x6-g {
  margin-left: 3.75rem;
}
.margin-right-x6-g,
.m-r-x6-g {
  margin-right: 3.75rem;
}
.margin-top-x6-g,
.m-t-x6-g {
  margin-top: 3.75rem;
}
.margin-bottom-x6-g,
.m-b-x6-g {
  margin-bottom: 3.75rem;
}
.margin-x6-g,
.m-x6-g {
  margin: 3.75rem;
}
.margin-left-x7-g,
.m-l-x7-g {
  margin-left: 4.375rem;
}
.margin-right-x7-g,
.m-r-x7-g {
  margin-right: 4.375rem;
}
.margin-top-x7-g,
.m-t-x7-g {
  margin-top: 4.375rem;
}
.margin-bottom-x7-g,
.m-b-x7-g {
  margin-bottom: 4.375rem;
}
.margin-x7-g,
.m-x7-g {
  margin: 4.375rem;
}
.margin-left-x8-g,
.m-l-x8-g {
  margin-left: 5rem;
}
.margin-right-x8-g,
.m-r-x8-g {
  margin-right: 5rem;
}
.margin-top-x8-g,
.m-t-x8-g {
  margin-top: 5rem;
}
.margin-bottom-x8-g,
.m-b-x8-g {
  margin-bottom: 5rem;
}
.margin-x8-g,
.m-x8-g {
  margin: 5rem;
}
.margin-left-x9-g,
.m-l-x9-g {
  margin-left: 5.625rem;
}
.margin-right-x9-g,
.m-r-x9-g {
  margin-right: 5.625rem;
}
.margin-top-x9-g,
.m-t-x9-g {
  margin-top: 5.625rem;
}
.margin-bottom-x9-g,
.m-b-x9-g {
  margin-bottom: 5.625rem;
}
.margin-x9-g,
.m-x9-g {
  margin: 5.625rem;
}
.margin-left-x10-g,
.m-l-x10-g {
  margin-left: 6.25rem;
}
.margin-right-x10-g,
.m-r-x10-g {
  margin-right: 6.25rem;
}
.margin-top-x10-g,
.m-t-x10-g {
  margin-top: 6.25rem;
}
.margin-bottom-x10-g,
.m-b-x10-g {
  margin-bottom: 6.25rem;
}
.margin-x10-g,
.m-x10-g {
  margin: 6.25rem;
}
.margin-left-x11-g,
.m-l-x11-g {
  margin-left: 6.875rem;
}
.margin-right-x11-g,
.m-r-x11-g {
  margin-right: 6.875rem;
}
.margin-top-x11-g,
.m-t-x11-g {
  margin-top: 6.875rem;
}
.margin-bottom-x11-g,
.m-b-x11-g {
  margin-bottom: 6.875rem;
}
.margin-x11-g,
.m-x11-g {
  margin: 6.875rem;
}
.margin-left-x12-g,
.m-l-x12-g {
  margin-left: 7.5rem;
}
.margin-right-x12-g,
.m-r-x12-g {
  margin-right: 7.5rem;
}
.margin-top-x12-g,
.m-t-x12-g {
  margin-top: 7.5rem;
}
.margin-bottom-x12-g,
.m-b-x12-g {
  margin-bottom: 7.5rem;
}
.margin-x12-g,
.m-x12-g {
  margin: 7.5rem;
}
.margin-left-x13-g,
.m-l-x13-g {
  margin-left: 8.125rem;
}
.margin-right-x13-g,
.m-r-x13-g {
  margin-right: 8.125rem;
}
.margin-top-x13-g,
.m-t-x13-g {
  margin-top: 8.125rem;
}
.margin-bottom-x13-g,
.m-b-x13-g {
  margin-bottom: 8.125rem;
}
.margin-x13-g,
.m-x13-g {
  margin: 8.125rem;
}
.margin-left-x14-g,
.m-l-x14-g {
  margin-left: 8.75rem;
}
.margin-right-x14-g,
.m-r-x14-g {
  margin-right: 8.75rem;
}
.margin-top-x14-g,
.m-t-x14-g {
  margin-top: 8.75rem;
}
.margin-bottom-x14-g,
.m-b-x14-g {
  margin-bottom: 8.75rem;
}
.margin-x14-g,
.m-x14-g {
  margin: 8.75rem;
}
.margin-left-x15-g,
.m-l-x15-g {
  margin-left: 9.375rem;
}
.margin-right-x15-g,
.m-r-x15-g {
  margin-right: 9.375rem;
}
.margin-top-x15-g,
.m-t-x15-g {
  margin-top: 9.375rem;
}
.margin-bottom-x15-g,
.m-b-x15-g {
  margin-bottom: 9.375rem;
}
.margin-x15-g,
.m-x15-g {
  margin: 9.375rem;
}
.margin-left-x16-g,
.m-l-x16-g {
  margin-left: 10rem;
}
.margin-right-x16-g,
.m-r-x16-g {
  margin-right: 10rem;
}
.margin-top-x16-g,
.m-t-x16-g {
  margin-top: 10rem;
}
.margin-bottom-x16-g,
.m-b-x16-g {
  margin-bottom: 10rem;
}
.margin-x16-g,
.m-x16-g {
  margin: 10rem;
}
.margin-left-x17-g,
.m-l-x17-g {
  margin-left: 10.625rem;
}
.margin-right-x17-g,
.m-r-x17-g {
  margin-right: 10.625rem;
}
.margin-top-x17-g,
.m-t-x17-g {
  margin-top: 10.625rem;
}
.margin-bottom-x17-g,
.m-b-x17-g {
  margin-bottom: 10.625rem;
}
.margin-x17-g,
.m-x17-g {
  margin: 10.625rem;
}
.margin-left-x18-g,
.m-l-x18-g {
  margin-left: 11.25rem;
}
.margin-right-x18-g,
.m-r-x18-g {
  margin-right: 11.25rem;
}
.margin-top-x18-g,
.m-t-x18-g {
  margin-top: 11.25rem;
}
.margin-bottom-x18-g,
.m-b-x18-g {
  margin-bottom: 11.25rem;
}
.margin-x18-g,
.m-x18-g {
  margin: 11.25rem;
}
.margin-left-x19-g,
.m-l-x19-g {
  margin-left: 11.875rem;
}
.margin-right-x19-g,
.m-r-x19-g {
  margin-right: 11.875rem;
}
.margin-top-x19-g,
.m-t-x19-g {
  margin-top: 11.875rem;
}
.margin-bottom-x19-g,
.m-b-x19-g {
  margin-bottom: 11.875rem;
}
.margin-x19-g,
.m-x19-g {
  margin: 11.875rem;
}
.margin-left-x20-g,
.m-l-x20-g {
  margin-left: 12.5rem;
}
.margin-right-x20-g,
.m-r-x20-g {
  margin-right: 12.5rem;
}
.margin-top-x20-g,
.m-t-x20-g {
  margin-top: 12.5rem;
}
.margin-bottom-x20-g,
.m-b-x20-g {
  margin-bottom: 12.5rem;
}
.margin-x20-g,
.m-x20-g {
  margin: 12.5rem;
}
.padding-left-x1-g,
.p-l-x1-g {
  padding-left: 0.625rem;
}
.padding-right-x1-g,
.p-r-x1-g {
  padding-right: 0.625rem;
}
.padding-top-x1-g,
.p-t-x1-g {
  padding-top: 0.625rem;
}
.padding-bottom-x1-g,
.p-b-x1-g {
  padding-bottom: 0.625rem;
}
.padding-x1-g,
.p-x1-g {
  padding: 0.625rem;
}
.padding-left-x2-g,
.p-l-x2-g {
  padding-left: 1.25rem;
}
.padding-right-x2-g,
.p-r-x2-g {
  padding-right: 1.25rem;
}
.padding-top-x2-g,
.p-t-x2-g {
  padding-top: 1.25rem;
}
.padding-bottom-x2-g,
.p-b-x2-g {
  padding-bottom: 1.25rem;
}
.padding-x2-g,
.p-x2-g {
  padding: 1.25rem;
}
.padding-left-x3-g,
.p-l-x3-g {
  padding-left: 1.875rem;
}
.padding-right-x3-g,
.p-r-x3-g {
  padding-right: 1.875rem;
}
.padding-top-x3-g,
.p-t-x3-g {
  padding-top: 1.875rem;
}
.padding-bottom-x3-g,
.p-b-x3-g {
  padding-bottom: 1.875rem;
}
.padding-x3-g,
.p-x3-g {
  padding: 1.875rem;
}
.padding-left-x4-g,
.p-l-x4-g {
  padding-left: 2.5rem;
}
.padding-right-x4-g,
.p-r-x4-g {
  padding-right: 2.5rem;
}
.padding-top-x4-g,
.p-t-x4-g {
  padding-top: 2.5rem;
}
.padding-bottom-x4-g,
.p-b-x4-g {
  padding-bottom: 2.5rem;
}
.padding-x4-g,
.p-x4-g {
  padding: 2.5rem;
}
.padding-left-x5-g,
.p-l-x5-g {
  padding-left: 3.125rem;
}
.padding-right-x5-g,
.p-r-x5-g {
  padding-right: 3.125rem;
}
.padding-top-x5-g,
.p-t-x5-g {
  padding-top: 3.125rem;
}
.padding-bottom-x5-g,
.p-b-x5-g {
  padding-bottom: 3.125rem;
}
.padding-x5-g,
.p-x5-g {
  padding: 3.125rem;
}
.padding-left-x6-g,
.p-l-x6-g {
  padding-left: 3.75rem;
}
.padding-right-x6-g,
.p-r-x6-g {
  padding-right: 3.75rem;
}
.padding-top-x6-g,
.p-t-x6-g {
  padding-top: 3.75rem;
}
.padding-bottom-x6-g,
.p-b-x6-g {
  padding-bottom: 3.75rem;
}
.padding-x6-g,
.p-x6-g {
  padding: 3.75rem;
}
.padding-left-x7-g,
.p-l-x7-g {
  padding-left: 4.375rem;
}
.padding-right-x7-g,
.p-r-x7-g {
  padding-right: 4.375rem;
}
.padding-top-x7-g,
.p-t-x7-g {
  padding-top: 4.375rem;
}
.padding-bottom-x7-g,
.p-b-x7-g {
  padding-bottom: 4.375rem;
}
.padding-x7-g,
.p-x7-g {
  padding: 4.375rem;
}
.padding-left-x8-g,
.p-l-x8-g {
  padding-left: 5rem;
}
.padding-right-x8-g,
.p-r-x8-g {
  padding-right: 5rem;
}
.padding-top-x8-g,
.p-t-x8-g {
  padding-top: 5rem;
}
.padding-bottom-x8-g,
.p-b-x8-g {
  padding-bottom: 5rem;
}
.padding-x8-g,
.p-x8-g {
  padding: 5rem;
}
.padding-left-x9-g,
.p-l-x9-g {
  padding-left: 5.625rem;
}
.padding-right-x9-g,
.p-r-x9-g {
  padding-right: 5.625rem;
}
.padding-top-x9-g,
.p-t-x9-g {
  padding-top: 5.625rem;
}
.padding-bottom-x9-g,
.p-b-x9-g {
  padding-bottom: 5.625rem;
}
.padding-x9-g,
.p-x9-g {
  padding: 5.625rem;
}
.padding-left-x10-g,
.p-l-x10-g {
  padding-left: 6.25rem;
}
.padding-right-x10-g,
.p-r-x10-g {
  padding-right: 6.25rem;
}
.padding-top-x10-g,
.p-t-x10-g {
  padding-top: 6.25rem;
}
.padding-bottom-x10-g,
.p-b-x10-g {
  padding-bottom: 6.25rem;
}
.padding-x10-g,
.p-x10-g {
  padding: 6.25rem;
}
.padding-left-x11-g,
.p-l-x11-g {
  padding-left: 6.875rem;
}
.padding-right-x11-g,
.p-r-x11-g {
  padding-right: 6.875rem;
}
.padding-top-x11-g,
.p-t-x11-g {
  padding-top: 6.875rem;
}
.padding-bottom-x11-g,
.p-b-x11-g {
  padding-bottom: 6.875rem;
}
.padding-x11-g,
.p-x11-g {
  padding: 6.875rem;
}
.padding-left-x12-g,
.p-l-x12-g {
  padding-left: 7.5rem;
}
.padding-right-x12-g,
.p-r-x12-g {
  padding-right: 7.5rem;
}
.padding-top-x12-g,
.p-t-x12-g {
  padding-top: 7.5rem;
}
.padding-bottom-x12-g,
.p-b-x12-g {
  padding-bottom: 7.5rem;
}
.padding-x12-g,
.p-x12-g {
  padding: 7.5rem;
}
.padding-left-x13-g,
.p-l-x13-g {
  padding-left: 8.125rem;
}
.padding-right-x13-g,
.p-r-x13-g {
  padding-right: 8.125rem;
}
.padding-top-x13-g,
.p-t-x13-g {
  padding-top: 8.125rem;
}
.padding-bottom-x13-g,
.p-b-x13-g {
  padding-bottom: 8.125rem;
}
.padding-x13-g,
.p-x13-g {
  padding: 8.125rem;
}
.padding-left-x14-g,
.p-l-x14-g {
  padding-left: 8.75rem;
}
.padding-right-x14-g,
.p-r-x14-g {
  padding-right: 8.75rem;
}
.padding-top-x14-g,
.p-t-x14-g {
  padding-top: 8.75rem;
}
.padding-bottom-x14-g,
.p-b-x14-g {
  padding-bottom: 8.75rem;
}
.padding-x14-g,
.p-x14-g {
  padding: 8.75rem;
}
.padding-left-x15-g,
.p-l-x15-g {
  padding-left: 9.375rem;
}
.padding-right-x15-g,
.p-r-x15-g {
  padding-right: 9.375rem;
}
.padding-top-x15-g,
.p-t-x15-g {
  padding-top: 9.375rem;
}
.padding-bottom-x15-g,
.p-b-x15-g {
  padding-bottom: 9.375rem;
}
.padding-x15-g,
.p-x15-g {
  padding: 9.375rem;
}
.padding-left-x16-g,
.p-l-x16-g {
  padding-left: 10rem;
}
.padding-right-x16-g,
.p-r-x16-g {
  padding-right: 10rem;
}
.padding-top-x16-g,
.p-t-x16-g {
  padding-top: 10rem;
}
.padding-bottom-x16-g,
.p-b-x16-g {
  padding-bottom: 10rem;
}
.padding-x16-g,
.p-x16-g {
  padding: 10rem;
}
.padding-left-x17-g,
.p-l-x17-g {
  padding-left: 10.625rem;
}
.padding-right-x17-g,
.p-r-x17-g {
  padding-right: 10.625rem;
}
.padding-top-x17-g,
.p-t-x17-g {
  padding-top: 10.625rem;
}
.padding-bottom-x17-g,
.p-b-x17-g {
  padding-bottom: 10.625rem;
}
.padding-x17-g,
.p-x17-g {
  padding: 10.625rem;
}
.padding-left-x18-g,
.p-l-x18-g {
  padding-left: 11.25rem;
}
.padding-right-x18-g,
.p-r-x18-g {
  padding-right: 11.25rem;
}
.padding-top-x18-g,
.p-t-x18-g {
  padding-top: 11.25rem;
}
.padding-bottom-x18-g,
.p-b-x18-g {
  padding-bottom: 11.25rem;
}
.padding-x18-g,
.p-x18-g {
  padding: 11.25rem;
}
.padding-left-x19-g,
.p-l-x19-g {
  padding-left: 11.875rem;
}
.padding-right-x19-g,
.p-r-x19-g {
  padding-right: 11.875rem;
}
.padding-top-x19-g,
.p-t-x19-g {
  padding-top: 11.875rem;
}
.padding-bottom-x19-g,
.p-b-x19-g {
  padding-bottom: 11.875rem;
}
.padding-x19-g,
.p-x19-g {
  padding: 11.875rem;
}
.padding-left-x20-g,
.p-l-x20-g {
  padding-left: 12.5rem;
}
.padding-right-x20-g,
.p-r-x20-g {
  padding-right: 12.5rem;
}
.padding-top-x20-g,
.p-t-x20-g {
  padding-top: 12.5rem;
}
.padding-bottom-x20-g,
.p-b-x20-g {
  padding-bottom: 12.5rem;
}
.padding-x20-g,
.p-x20-g {
  padding: 12.5rem;
}
.c-red1-bg-g {
  background-color: #f942a8;
}
.c-red2-bg-g {
  background-color: #fb7bc3;
}
.c-green1-bg-g {
  background-color: #50e3c2;
}
.c-blue1-bg-g {
  background-color: #00aeff;
}
.c-facebook-bg-g {
  background-color: #3b5998;
}
.c-grey1-bg-g {
  background-color: #4d4d4d;
}
.c-grey2-bg-g {
  background-color: #696969;
}
.c-grey3-bg-g {
  background-color: #858585;
}
.c-grey4-bg-g {
  background-color: #a1a1a1;
}
.c-grey5-bg-g {
  background-color: #bdbdbd;
}
.c-grey6-bg-g {
  background-color: #d9d9d9;
}
.c-grey7-bg-g {
  background-color: #f5f5f5;
}
.c-grey8-bg-g {
  background-color: c-grey8;
}
.c-grey9-bg-g {
  background-color: c-grey9;
}
.c-grey10-bg-g {
  background-color: c-grey10;
}
