// KIT
@import '../assets/imports.styl'

body
  margin 0 auto
  margin-bottom 20*gs
  background c-bg
  max-width 100*gs
  padding 4*gs 0

.k-hash
  font-size 12px
  color c-grey6
  margin-bottom gs
  margin-top 2*gs
  max-width 100%
  padding gs 0 
  textel()
  width 5*gs
  &:after
    content attr(id)

.k-section
  margin-left 2*gs
  & + &
    margin-top 8*gs
  &__header
    line-height inherit
    padding 2*gs 0
    color c-grey4
    background-color rgba(0,0,0,.01)
    padding-left 2*gs
    margin-left -2*gs
    border-radius br

.k-sample
  float left
  margin 2*gs

.k-color
  rect 4*gs
  margin gs
  float left

.k-canvas
  background-color white
  padding 2*gs
  border-radius br