// KIT
@import '../assets/imports.styl'

headerHeight = 6.5*gs
body
  margin 0 auto
  margin-bottom 20*gs
  background c-bg
  max-width 100*gs
  padding 4*gs 0
  padding-top headerHeight
  
.k-header
  height headerHeight
  background-color white
  border-bottom-left-radius  br
  border-bottom-right-radius br
  box-shadow 0 4*PX 0 rgba(0,0,0,.2)
  position absolute
  width 100%
  nw 0
  
  iconSize = 2.5*gs
  .k-main-logo-icon
    left 2*gs
    test iconSize
    margin-center-v(iconSize)
    .icon
      rect iconSize
  iconSize = 1.5*gs + PX
  .k-menu-icon
    margin-center-v(iconSize)
    easy-click()
    right 2*gs
    .icon
      rect iconSize
    &:hover
      cursor pointer
      opacity .75
    &:active
      cursor pointer
      opacity 1  
      
.k-hash
  font-size 12px
  color c-grey6
  margin-bottom gs
  margin-top 2*gs
  max-width 100%
  padding gs 0 
  textel()
  width 5*gs
  &:after
    content attr(id)

.k-section
  margin-left 2*gs
  & + &
    margin-top 8*gs
  &__header
    line-height inherit
    padding 2*gs 0
    color c-grey4
    background-color rgba(0,0,0,.01)
    padding-left 2*gs
    margin-left -2*gs
    border-radius br

.k-sample
  float left
  margin 2*gs

.k-color
  rect 4*gs
  margin gs
  float left

.k-canvas
  background-color white
  padding 2*gs
  border-radius br