body {
  margin: 0 auto;
  margin-bottom: 12.5rem;
  background: #f3f3f3;
  max-width: 62.5rem;
  overflow: hidden;
}
.k-nav {
  position: absolute;
  z-index: 5;
  left: 3.75rem;
  top: 8.125rem;
  color: #b9b9b9;
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.125rem;
}
.k-nav .k-navigation-header {
  margin-bottom: 1.5625rem;
}
.k-nav .k-navigation-link {
  margin-bottom: 1.25rem;
}
.k-navigation-link {
  color: #717479;
  display: block;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
}
.k-navigation-link:before {
  content: '';
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: #717479;
  position: absolute;
  top: 50%;
  margin-top: -0.1875rem;
  left: -0.9375rem;
  opacity: 0;
}
.k-navigation-link:hover {
  cursor: pointer;
}
.k-navigation-link:hover:before {
  opacity: 1;
}
.k-navigation-link.is-check {
  cursor: default;
}
.k-navigation-link.is-check:before {
  background-color: #50e3c2;
}
.k-pages {
  overflow: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  margin-top: 4.0625rem;
  padding: 1.25rem 5rem;
  padding-left: 20rem;
  padding-top: 5.9375rem;
  top: 0;
  left: 0;
}
.k-header {
  height: 4.0625rem;
  background-color: #fff;
  border-bottom-left-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  box-shadow: 0 0.1875rem 0 rgba(0,0,0,0.1);
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 0;
  left: 0;
}
.k-header .k-main-logo-icon {
  left: 1.875rem;
  test: 1.5625rem;
  position: absolute;
  top: 50%;
  margin-top: -0.78125rem;
}
.k-header .k-main-logo-icon .icon {
  width: 1.5625rem;
  height: 1.5625rem;
}
.k-header .k-menu-icon {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  right: 1.875rem;
}
.k-header .k-menu-icon:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  z-index: 1;
  top: -50%;
  left: -50%;
}
.k-header .k-menu-icon .icon {
  width: 1rem;
  height: 1rem;
}
.k-header .k-menu-icon:hover {
  cursor: pointer;
  opacity: 0.75;
}
.k-header .k-menu-icon:active {
  cursor: pointer;
  opacity: 1;
}
.k-hash {
  font-size: 12px;
  color: #d9d9d9;
  margin-bottom: 0.625rem;
  margin-top: 1.25rem;
  max-width: 100%;
  padding: 0.625rem 0;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 3.125rem;
}
.k-hash:after {
  content: attr(id);
}
.k-section {
  margin-left: 1.25rem;
}
.k-section + .k-section {
  margin-top: 5rem;
}
.k-section__header {
  line-height: inherit;
  padding: 1.25rem 0;
  color: #a1a1a1;
  background-color: rgba(0,0,0,0.01);
  padding-left: 1.25rem;
  margin-left: -1.25rem;
  border-radius: 0.1875rem;
}
.k-sample {
  float: left;
  margin: 1.25rem;
}
.k-color {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.625rem;
  float: left;
}
.k-canvas {
  background-color: #fff;
  padding: 1.25rem;
  border-radius: 0.1875rem;
}
