//- .k-section
  //- .k-section__header Colors
.cf
  .k-color.c-grey1-bg-g
  .k-color.c-grey2-bg-g
  .k-color.c-grey3-bg-g
  .k-color.c-grey4-bg-g
  .k-color.c-grey5-bg-g
  .k-color.c-grey6-bg-g
  .k-color.c-grey7-bg-g
  .k-color.c-grey8-bg-g
  .k-color.c-grey9-bg-g
  .k-color.c-grey10-bg-g

.cf
  .k-color.c-red1-bg-g
  .k-color.c-red2-bg-g

.cf
  .k-color.c-facebook-bg-g
  .k-color.c-blue1-bg-g
  .k-color.c-green1-bg-g