// COLORS
@import '../assets/imports.styl'

colors()
  colors      =   c-red1   c-red2    c-green1   c-blue1   c-facebook    c-grey1   c-grey2   c-grey3   c-grey4   c-grey5   c-grey6    c-grey7   c-grey8   c-grey9   c-grey10
  colorsNames =  'c-red1' 'c-red2'  'c-green1' 'c-blue1' 'c-facebook'  'c-grey1' 'c-grey2' 'c-grey3' 'c-grey4' 'c-grey5' 'c-grey6'  'c-grey7' 'c-grey8' 'c-grey9' 'c-grey10'
  for color, i in colors
    .{colorsNames[i]}-bg-g
      background-color color
colors()