.c-red1-bg-g {
  background-color: #f942a8;
}
.c-red2-bg-g {
  background-color: #fb7bc3;
}
.c-green1-bg-g {
  background-color: #50e3c2;
}
.c-blue1-bg-g {
  background-color: #00aeff;
}
.c-facebook-bg-g {
  background-color: #3b5998;
}
.c-grey1-bg-g {
  background-color: #4d4d4d;
}
.c-grey2-bg-g {
  background-color: #696969;
}
.c-grey3-bg-g {
  background-color: #858585;
}
.c-grey4-bg-g {
  background-color: #a1a1a1;
}
.c-grey5-bg-g {
  background-color: #bdbdbd;
}
.c-grey6-bg-g {
  background-color: #d9d9d9;
}
.c-grey7-bg-g {
  background-color: #f5f5f5;
}
.c-grey8-bg-g {
  background-color: c-grey8;
}
.c-grey9-bg-g {
  background-color: c-grey9;
}
.c-grey10-bg-g {
  background-color: c-grey10;
}
